.head_cart {
    font-size: 40px;
    text-align: center;
}

.cart {
  display: flex;
  flex-direction: row-reverse;;
  align-items: flex-start;
  justify-content: space-between;
  width: 370px;
}
.block_cart {
    margin: 10px;
    display: flex;
    margin-bottom: 10px;
    width: 270px;
    height: 120px;
    padding: 1cqw;
    text-align: center;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
  }

  .food_icon_cart {
    height: auto;
    width: 30%;
    max-height: 100px;
    max-width: 100px;
    display: block;
    margin-left: 2px;
    margin-right: 20px;
    border-radius: 5px;
  }

  .container_blocks_cart {
    padding-bottom: 10px;
    width: 100%;
    display: grid;
    justify-items: center;
  }

  .button_cart {
    margin-top: auto;
    background-color: rgba(255, 145, 0, 0.664);
    color: rgb(0, 0, 0);
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 15px;
    top: 780px;
    box-sizing: border-box;
    padding-right: 140px;
    padding-left: 140px;
    transition: all 0.5s;
    width: 100%;
  }

  .button_cart:active{
    background-color: rgb(179, 101, 0);
  }

  .button_cart:hover {
    background-color: rgb(255, 145, 0);
  }

  .cart-item-info {
    flex: 1;
  }
  
  .quantity-controls {
    display: flex;
    align-items: center;
    margin-left: 30px;
    
  }
  
  .quantity-controls button {
    background-color: rgb(179, 101, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;

  }
  
  .quantity-controls button:hover {
    background-color: rgb(179, 101, 0);
  }
  
  .remove-button {
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .remove-button:hover {
    background-color: #ff4a4a;
  }

  .cart-item-info {
    display: flex;
    flex-direction: column;
    width: 165px;
  }
  .cart-item-info p {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    padding: 0;
  }
